@font-face {
	font-family: "28-Day-Later";
	src: 
		url("../fonts/28-days-later.woff2")
		format("woff2"),
		url("../fonts/28-days-later.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Display-History";
	src: 
		url("../fonts/display-history.woff2")
		format("woff2"),
		url("../fonts/display-history.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;;
}
@font-face {
	font-family: "Easterday";
	src: 
		url("../fonts/easterday.woff2")
		format("woff2"),
		url("../fonts/easterday.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;;
}