/* ------Підключення шрифтів------- */

@import url("fonts.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Plus:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,600,900&display=swap");

/* -----------Властивості тексту і шрифту - Стилі застосовані до стаатті  */

body {
	font-family: "Gentium Book Plus";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	color: rgba(8, 11, 13, 0.8);
}
h1, h4 {
	font-family: "28-Day-Later" ;
	color: rgba(0, 0, 0, 0.9);
	text-align: center;
}
h1 {
	font-size: 35px; 
	font-weight: 700;
	text-shadow: 3px 3px 5px #4e4848;

}
h4{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	word-spacing: 5px;
}
#nowrap{
	white-space: nowrap;
}
a {
	font-family: "Easterday";
	font-size: 18px;
	font-weight: 600;
	color: rgba(150, 26, 90, 0.8);
	letter-spacing: 5px;
	text-decoration: underline;
}
q {
	font-family: "Display-History";
	font-size: 65px;
	font-style: italic;
	font-weight: bold;
	color: rgba(14, 74, 6, 1);
	text-decoration: underline;
	text-shadow: 2px 2px 3px rgba(14, 74, 6, 1);
	letter-spacing: 3px;
}
.content-base__text-block2>p{
	text-align: center;
}
.content-bottom__autor-name{
	font-family: "Gentium Book Plus";
	font-size: 20px;
	font-style: oblique;
	font-weight:600;
	color: rgba(65, 25, 132, 1);
	text-align:right;
	text-transform: uppercase;
}
.underlined {
	text-decoration: underline;
}
.content-base__text-block1{
	text-transform: capitalize;
}
.content-bottom__about-series{
	line-height: 1.3;
}
.content-base__text-block4>p{
	text-indent: 20px;
	}

h5 {
	text-decoration: underline double;
	color: rgba(32, 90, 33, 1);
}

/* -----------Властивості тексту і шрифту - Стилі застосовані до макету - Блок 1  і до заголовка "Блоку 2" */

.design-layout-container__content1>h2,h3, 
.design-layout-container__content2>h2{
	font-family: "Poppins";
	}
h2{
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	color: #37393F;      
	line-height: 1.27;
}
h3{
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	color: #6B77E5;
	line-height: 1.27;
}
.design-layout-container__content1>p{
	font-family: "Inter";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
	color: #7D7D7D;
}

/* -----------Властивості тексту і шрифту - Стилі застосовані до макету - Блок 2  */

.design-layout-container__content2-text-block {
	font-family: "Inter";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
	color: #7D7D7D;
}
